*{
    box-sizing:border-box;
    background-color: black;
    color: white;
}

/*styling for whole body of HTML*/

body {
    
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    
}


#title {
    border-top: 8px solid deeppink;
    align-items: center;
    justify-content:flex-end
    
}

/*hero image styling*/
.hero-image {
    background: url(https://i.pinimg.com/originals/29/b1/42/29b142c9b19ae34dc4095020deb67832.gif)no-repeat center;
    background-size: cover;
    height: 850px;
   
}


 .navbar {
     justify-content: flex-end;
     font-size: 150%;
     
     
 }

 
 a {
     text-decoration: none;
     font-weight: bold;
 
 }

 a:active {
     color: white;
 }

 .nav-link {
     color: white;
 }
 
 


/*sidebar styling*/

#sidebar {
    height: 100%;
    width: 25%;
    position:absolute;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 15%;
}

#sidebar h2 {
    font-size: 200%;
}

/*stlying of the social media icons in the sidebar*/

.social-media-icons {
    text-align: center;
    position: top;
    font-size: 120%;
    position: relative;
}


/*main section styling*/

.main-section {
    margin-left: 25%;
    width: 70%;
    padding: 200px;   
}

/*main section headings styling*/

.main-section h2 {
    text-align: left;
    font-size: 300%;
}

/*main section content styling*/

.main-section p {
    font-size: 180%;
    text-align: center;
}

.main-section img {
    border-radius: 30%;
    
}
/*portfolio section*/

.card h3{
    font-size: 300%;
}

#portfolio h1 {
    font-size: 400%;
    text-align: center;
    
    
}
/*cards to hold my work*/
.card-title{
    font-size: 300%;
    text-align: center;
    color: deeppink;
}

.card-text {
    font-size: 150%;
    text-align: center;
}

.github-link {
    font-size: 120%;
    text-decoration: underline deeppink;
}

.card {
    margin: 30px;
    align-items: center;
}


/*footer section*/
footer {
 
    bottom: 0;
}

