*{
    box-sizing:border-box;
}

/*styling for whole body of HTML*/

body {
    margin:10;
    font-family:Arial, Helvetica, sans-serif;
    height: 100%;
}

/*hero image styling*/

.hero-image {
    background:url(./Assets/Images/lights.jpg) no-repeat center;
    background-size: cover;
    height: 450px;
    position: relative;
}

/*hero image content*/

.hero-text {
    text-align: center;
    font-size: 200%;
    position: absolute;
    right: 40%;
    top:20%;
    color: snow;
}

/*navbar styling*/

.navbar {
    display: flex;
    justify-content: flex-end;
    font-size: 200%;
    width: 100%;
    background-color: black;
}

/*content in navbar*/

.navbar a {
    padding: 1 1;
    color: black;
    font-size: 100%;
    color: snow;
    width: 10%;
    text-decoration: none;
}

/*sidebar styling*/

#sidebar {
    height: 100%;
    width: 25%;
    position:absolute;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 15%;
}

#sidebar h2 {
    font-size: 200%;
}

/*stlying of the social media icons in the sidebar*/

.social-media-icons {
    text-align: center;
    position: top;
    font-size: 120%;
    position: relative;
}


/*main section styling*/

.main-section {
    margin-left: 25%;
    width: 70%;
    padding: 200px;   
}

/*main section headings styling*/

.main-section h2 {
    text-align: left;
    font-size: 300%;
}

/*main section content styling*/

.main-section p {
    font-size: 180%;
    text-align: center;
}

.main-section img {
    border-radius: 50%;
    
}
/*portfolio section*/

#portfolio {
    margin-left: 35%;
    display: flex;
}

#portfolio h1 {
    font-size: 300%;
    
}

.container {
    display: flex;
}

/*rows and column for the portfolio content*/

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10rem;
    margin-left: -50rem;
    margin-right: -3.0rem;
}


.column {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 1rem;
}

/*styling of the images in the columns*/

.column img {
    width: 100%;
    height: 100%;
    transition: width 1s;
}

/*effect of hovering so the pictures grow in size when mouse is over them*/

.column img:hover {
    width: 100%;
}

/*header for the portfolio images*/

.img-header {
    font-size: 200%;
}


/*footer section*/
footer {
    position:fixed;
    bottom: 0;
}

#quiz {
    width:100%;
    height: 200%;
}



/*media queries*/

    
@media screen and (max-width 800px) {
    .container{
        flex-direction: row;
        
    }

}

@media screen and (max-width 800px) {
    .navbar {
        flex-wrap: wrap;
        
    }
    
}
    
@media screen and (max-width 800px){
    .main-section p {
        font-size: 50%;
        line-height: 1;
    }
}